<!-- These are here just to show the structure of the list items -->
<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li
  [class.completed]="todo?.completado"
  [class.editing]="editando"
>
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [formControl]="chckCompletado"
    />

    <label
      (dblclick)="editar()"
    >
      {{todo?.texto}}
    </label>

    <button class="destroy"></button>
  </div>

  <input
    #inputFisico
    class="edit"
    [formControl]="txtInput"
    type="text"
    (blur)="terminarEdicion()"
  />
</li>
<!--   <li>
    <div class="view">
      <input class="toggle" type="checkbox" />
      <label>Buy a unicorn</label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="Rule the web" />
  </li> -->
